section{
  width: 100%;
  height: 90%;
}
*:not(mat-icon){
  font:400 14px/20px Roboto, "Helvetica Neue", sans-serif;

}

mat-label{
  font-size: 18px;
}
.last-hunt-card{
  max-height: 150px;
  max-width: 400px;
  margin-left:10px;
}

.poke-card{
  margin-top:20px;
}
.poke-card .image{
  max-width: 200px;
}
.last-hunt-card .image{
    max-width:200px;
  }

  @media only screen and (max-width: 600px) {
    .poke-card{
      max-height: 300px;
      max-width: 400px;
    }
    .poke-card .image{
      max-width: 100px;
    }
  }